:root {
    --color-dark-green: #377D3C;
    --color-normal-green: #37993E;
    --color-light-green: #4DC83E;
    --color-gray: #FCFCFC;
    --color-light-gray: #F9F9F9;
    --color-dark-gray: #F1F1F1;

    --border-radius: 30px;
    --border-radius-small: 10px;

    --font-family: 'Montserrat';

    --transition-duration: 0.2s;

    --button-height: 72px;
    --button-width-large: 382px;
    --button-width-small: 299px;

    --container-max-width: 1600px;
    --container-padding-desktop-mobile: 16px;
    --container-padding-ipad: 48px;

    --input-height: 56px;
    --input-padding: 18px 16px;
}