.advantages {
    &__header {
        text-align: center;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text {
        text-align: center;
        font-size: 24px;
        margin-top: 16px;
        word-wrap: break-word;
        width: 1093px;

        @include ipad {
            font-size: 18px;
            width: 662px;
        }

        @include mobile {
            font-size: 16px;
            width: 324px;
        }
    }

    &__items-wrapper {
        margin-top: 80px;
        display: flex;
        gap: 24px;

        align-items: center;

        @include ipad {
            gap: 16px;
            justify-content: center;
        }

        @include mobile {
            flex-direction: column;
        }
    }

    &__pic {
        width: 100%;
        @include mobile {
            max-width: 382px;
            height: 268px;
        }

        @include ipad {
            display: none;
        }

        &--ipad {
            display: none;

            @include ipad {
                display: block;
            }
        }
    }

    &__items {
        width: 100%;
        max-width: 550px;

        @include ipad {
            max-width: 380px;
        }

        @include mobile {
            max-width: 375px;
        }
    }

    &__items-list {
        display: flex;
        flex-direction: column;
        row-gap: 40px;

        @include ipad {
            row-gap: 24px;
        }
    }

    &__items-list-item {
        display: flex;
        gap: 40px;

        @include ipad {
            gap: 24px;
        }

        @include mobile {
            gap: 24px;
        }

        &::before {
            content: "";
            display: inline-block;
            width: 80px;
            height: 80px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        @include ipad {
            &::before {
                width: 56px;
                height: 56px;
            }
        }

        @include mobile {
            &::before {
                width: 56px;
                height: 56px;
            }
        }

        &--opadanja {
            &::before {
                background-image: url('./../../../images/opadanja.svg');
            }
        }

        &--stimulacija {
            &::before {
                background-image: url('./../../../images/stimulacija.svg');
            }
        }

        &--kose {
            &::before {
                background-image: url('./../../../images/kose.svg');
            }
        }

        &--stanja {
            &::before {
                background-image: url('./../../../images/stanja.svg');
            }
        }

        &--hidratacija {
            &::before {
                background-image: url('./../../../images/hidratacija.svg');
            }
        }
    }

    &__items-list-item-desc {
        word-wrap: break-word;
        max-width: 430px;
        width: 100%;

        @include ipad {
            font-size: 14px;
            max-width: 260px;
        }

        @include mobile {
            max-width: 295px;
            font-size: 14px;
        }
    }

    &__items-list-item-inner {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }

    &__items-list-item-header {
        @include ipad {
            font-size: 18px;
        }
    }
}